.button {
  display: inline-block;
  padding: 10px 32px 10px 32px ;
  background: transparent;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  background: #2346A3;
  color: white;
  max-width: 160px;
}
