.button {
  display: inline-block;
  padding: 23px 64px;
  background: transparent;
  border: 1px solid blue;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  transition: background 0.3s linear;
  cursor: pointer;
  color: blue;
  letter-spacing: 2px;
}

.button:hover {
  color: white;
  border: 1px solid black;
  background: blue;
}
