.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
}

.intro {
  &__container {
    overflow: visible;
  }

  &__text {
    margin-bottom: 150px;
    color: #1a2026;
  }

  &__buttonsContainer {
    display: flex;
    margin-top: 66px;
    gap: 20px;
  }

  &__heading {
    font-size: 70px;
    font-weight: 800;
    line-height: 81px;
    letter-spacing: 0em;
    color: rgba(11, 27, 53, 1);
    margin: 0;
    min-width: 470px;
  }
  &__description {
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1);
    margin: 26px 0 0;
  }

  &__button {
    width: 196px;
    height: 59.28px;
    border-radius: 10px;
    background-color: rgba(35, 70, 163, 1);
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &__button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(35, 70, 163, 1);
    border: 1px solid rgba(35, 70, 163, 1);
  }

  &__buttonWhite {
    width: 196px;
    height: 59.28px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 1);
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &__buttonWhite:hover {
    color: rgba(35, 70, 163, 1);
    border: 2px solid rgba(35, 70, 163, 1);
  }

  &__pic {
    width: 764px;
    height: 704px;
  }
}

.cards {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  &__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.45em;
    text-align: center;
    color: #8a898e;
  }
  &__heading {
    font-size: 52px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #0b1b35;
  }
  &__container {
    margin-top: -80px;
    margin-bottom: 100px;
  }

  &__link {
    text-decoration: none;
    color: #0b1b35;
  }
}

.products {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__introContainer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-bottom: 100px;
  }

  &__heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
  }

  &__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 130px;
}

.IP {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 1180px;
    width: 100%;
    margin: 127px auto 0;
    display: flex;
  }

  &__pic {
    margin-left: 60px;
  }

  &__titleHead {
    font-size: 14px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.45em;
    text-align: center;
    color: rgba(138, 137, 142, 1);
  }

  &__title {
    font-size: 52px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(11, 27, 53, 1);
  }

  &__description {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    max-width: 654px;
    margin-bottom: 53px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 96px;
  }
}

.news {
  max-width: 1180px;
  width: 90%;
  padding: 0 35px;
  margin: 60px auto;

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  &__box {
    padding: 20px;
    overflow: auto;
    width: 90%;
    height: 600px;
    background-color: #ffffff;
  }
}

.achievements {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(279.69deg, #0a0079 0%, #3882c6 100%);
  max-width: 1101px;
  border-radius: 20px;
  padding: 32px;
  gap: 10px;
  margin: 145px 0;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 100px;
    gap: 12px;
  }
  &__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -0.02em;
    margin: 0;
    color: white;
  }
  &__description {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.02em;
    margin: 0;
    color: white;
  }
}

@media all and (max-width: 1280px) {
  .intro {
    &__pic {
      width: 664px;
      height: 604px;
    }
  }
}

@media all and (max-width: 1225px) {
  .intro {
    &__pic {
      width: 564px;
      height: 504px;
    }
  }
}

@media all and (max-width: 1175px) {
  .achievements {
    flex-direction: column;

    &__content {
      margin-top: 63px;
    }
  }
}

@media all and (max-width: 1035px) {
  .IP {
    &__title {
      font-size: 32px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: center;
      margin: 0;
    }
  }
}

@media all and (max-width: 1024px) {
  .intro {
    &__pic {
      width: 464px;
      height: 404px;
    }
  }

  .IP {
    &__container {
      max-width: 1180px;
    }
  }
}

@media all and (max-width: 865px) {
  .container {
    flex-direction: column-reverse;
  }

  .intro {
    &__heading {
      margin-top: -150px;
      font-size: 45px;
      font-weight: 800;
      line-height: 50px;
      letter-spacing: 0em;
      margin-left: 32px;
    }

    &__buttonsContainer {
      align-items: center;
      justify-content: center;
    }

    &__description {
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      margin-left: 32px;
    }

    &__button {
      width: 150px;
      height: 59.28px;
      border: none;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
    }

    &__buttonWhite {
      width: 147px;
      height: 59.28px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}

@media all and (max-width: 760px) {
  .IP {
    &__container {
      flex-direction: column;
      margin-top: 18px;
      align-items: center;
    }

    &__pic {
      margin: 0;
      width: 189px;
      height: 187px;
    }

    &__section {
      margin: 0;
      text-align: center;
      align-items: center;
    }

    &__description {
      text-align: center;
    }
  }

  .news {
    padding: 0;
  }

  .intro {
    &__text {
      max-width: 420px;
    }

    &__heading {
      max-width: 420px;
      margin-left: -30px;
    }
  }
}

@media all and (max-width: 465px) {
  .intro {
    &__heading {
      min-width: 100px;
      margin: 0;
    }

    &__description {
      margin: 0;
      min-width: 100px;
    }

    &__text {
      min-width: 100px;
      margin-top: -100px;
    }

    &__pic {
      width: 320px;
      height: auto;
    }
  }
  .products {
    &__description {
      font-size: 14px;
    }
  }

  .cards {
    &__text {
      font-size: 10px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0.45em;
    }

    &__heading {
      font-size: 32px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
      margin: 0;
    }
  }

  .achievements {
    margin: 50px 0 50px;

    &__content {
      width: 325px;
    }
  }
}

@media all and (max-width: 390px) {
  .achievements {
    padding-bottom: 100px;
    &__content {
      width: 250px;
    }
  }
}

@media all and (max-width: 350px) {
  .IP {
    &__title {
      font-size: 28px;
    }
  }
}
