.contactUs {
  &__container {
    display: flex;
    background-color: rgb(233, 230, 230);
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding: 0 10vw 0;
    margin: 50px 0 50px;
    border-radius: 5px;
  }

  &__text {
    max-width: 484px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
  }
}
