.footer {
  &__section {
    margin-top: 174px;
    margin-bottom: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__container {
    display: flex;
    width: 100%;
    max-width: 1170px;
    align-items: center;
    justify-content: center;
  }

  &__companyName {
    color: rgba(35, 70, 163, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 8px;
    margin-right: 29px;
    max-width: 103px;
  }

  &__span {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__rights {
    color: rgba(35, 70, 163, 1);
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 35px 0 0;
  }

  &__nav {
    display: flex;
    padding: 0;
    gap: 29px;
  }

  &__navItem {
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
  }

  &__logo {
    width: 61.5px;
    height: 55px;
  }

  &__adressContainer {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #1a2026;
    cursor: pointer;
    text-decoration: none;
  }

  &__contactsContainer {
    display: flex;
    margin-left: 50px;
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

@media all and (max-width: 1125px) {
  .footer {
    &__section {
      margin-top: 126px;
      margin-bottom: 32px;
    }

    &__container {
      flex-direction: column;
    }
  }
}

@media all and (max-width: 665px) {
  .footer {
    &__nav {
      flex-direction: column;
      gap: 7.8px;
      text-align: center;
    }

    &__navItem {
      text-align: center;
    }
  }
}
