.footer {
  &__section {
    background-color: #fff;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__companyName {
    margin: 0 30px 0 10px;
    color: blue;
    font-size: 50px;
  }

  &__nav {
    display: flex;
    margin: 0 70px 0;
    padding: 0;
    gap: 40px;
  }

  &__navItem {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #1a2026;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  &__navItem:hover {
    color: blue;
  }

  &__logo {
    width: 160px;
    height: 160px;
  }

  &__adressContainer {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #1a2026;
    cursor: pointer;
    text-decoration: none;
  }

  &__contactsContainer {
    display: flex;
    margin-left: 50px;
  }
}
