.header {
  &__container {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px -4px rgba(26, 32, 38, 0.12),
      0px 8px 8px -4px rgba(26, 32, 38, 0.08);
    margin: auto;
    z-index: 2;
  }

  &__img {
    width: 80px;
    height: 80px;
    padding: 0 0 2px;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    margin: 0 20px 0;
    padding: 0;
    height: 47px;
  }

  &__navList {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
  }

  &__navItem {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #1a2026;
    height: 100%;
    position: relative;
    transition: border-bottom 0.2s ease;
    cursor: pointer;
    text-decoration: none;
  }

  &__navItem:hover {
    border-bottom: 2px solid blue;
  }

  &__companyName {
    margin: 0 10px 0 10px;
    color: blue;
    font-size: 34px;
    cursor: pointer;
  }

  &__languageContainer {
    display: flex;
    gap: 10px;
    margin-left: 5vw;
    padding: 10px;
  }

  &__flag {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  &__logoContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}
